{
  "semi": true,
  "singleQuote": true,
  "singleAttributePerLine": false,
  "tabWidth": 2,
  "endOfLine": "auto",
  "trailingComma": "all",
  "plugins": [
    "prettier-plugin-organize-imports"
  ],
  "printWidth": 120
}
